﻿@model IEnumerable<Employee>

@{ 
    ViewBag.Title = "Employees List";
}

<div class="card-deck">
    @foreach (Employee employee in Model)
    {
        var photoPath = "~/Images/" + (employee.PhotoPath ?? "noimage.png"); 
        <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true"/>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@employee.Id"
                    class="btn btn-primary m-1">View</a>
                <a asp-action="edit" asp-controller="home" asp-route-id="@employee.Id" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>
